In [37]:
import pandas as pd

# Import data

In [38]:
df_teams = pd.read_csv("../Data/merged_team_conference.csv")
df_teams.drop("Unnamed: 0", axis=1, inplace=True)
df_teams

,season,team,conference,W,L,win_rate,conference_standing
0,2023,DENVER NUGGETS,Western,48,24,0.666667,1
1,2023,MEMPHIS GRIZZLIES,Western,43,27,0.614286,2
2,2023,SACRAMENTO KINGS,Western,43,27,0.614286,3
3,2023,PHOENIX SUNS,Western,38,33,0.535211,4
4,2023,LOS ANGELES CLIPPERS,Western,38,34,0.527778,5
...,...,...,...,...,...,...,...
415,2010,NEW YORK KNICKS,Eastern,29,53,0.353659,11
416,2010,PHILADELPHIA 76ERS,Eastern,27,55,0.329268,12
417,2010,DETROIT PISTONS,Eastern,27,55,0.329268,13
418,2010,WASHINGTON WIZARDS,Eastern,26,56,0.317073,14
419,2010,NEW JERSEY NETS,Eastern,12,70,0.146341,15

In [39]:
df_teams.dtypes

season                   int64
team                    object
conference              object
W                        int64
L                        int64
win_rate               float64
conference_standing      int64
dtype: object

In [40]:
df_teams["W"] = df_teams["W"].astype(int)
df_teams["L"] = df_teams["L"].astype(int)

In [41]:
df_teams

,season,team,conference,W,L,win_rate,conference_standing
0,2023,DENVER NUGGETS,Western,48,24,0.666667,1
1,2023,MEMPHIS GRIZZLIES,Western,43,27,0.614286,2
2,2023,SACRAMENTO KINGS,Western,43,27,0.614286,3
3,2023,PHOENIX SUNS,Western,38,33,0.535211,4
4,2023,LOS ANGELES CLIPPERS,Western,38,34,0.527778,5
...,...,...,...,...,...,...,...
415,2010,NEW YORK KNICKS,Eastern,29,53,0.353659,11
416,2010,PHILADELPHIA 76ERS,Eastern,27,55,0.329268,12
417,2010,DETROIT PISTONS,Eastern,27,55,0.329268,13
418,2010,WASHINGTON WIZARDS,Eastern,26,56,0.317073,14
419,2010,NEW JERSEY NETS,Eastern,12,70,0.146341,15

In [42]:
df_teams.dtypes

season                   int64
team                    object
conference              object
W                        int64
L                        int64
win_rate               float64
conference_standing      int64
dtype: object

In [43]:
df_teams["team"] = df_teams["team"].apply(lambda x: x.upper()) 
df_teams

,season,team,conference,W,L,win_rate,conference_standing
0,2023,DENVER NUGGETS,Western,48,24,0.666667,1
1,2023,MEMPHIS GRIZZLIES,Western,43,27,0.614286,2
2,2023,SACRAMENTO KINGS,Western,43,27,0.614286,3
3,2023,PHOENIX SUNS,Western,38,33,0.535211,4
4,2023,LOS ANGELES CLIPPERS,Western,38,34,0.527778,5
...,...,...,...,...,...,...,...
415,2010,NEW YORK KNICKS,Eastern,29,53,0.353659,11
416,2010,PHILADELPHIA 76ERS,Eastern,27,55,0.329268,12
417,2010,DETROIT PISTONS,Eastern,27,55,0.329268,13
418,2010,WASHINGTON WIZARDS,Eastern,26,56,0.317073,14
419,2010,NEW JERSEY NETS,Eastern,12,70,0.146341,15

In [44]:
#df_teams.to_csv("../Data/merged_team_conference.csv")