In [1]:
from google.colab import drive
import pandas as pd

In [2]:
drive.mount('/content/drive')
df_list = []
eastern_conference_team = ['Cleveland Cavaliers','Toronto Raptors','Detroit Pistons','Orlando Magic','Brooklyn Nets','Boston Celtics','Washington Wizards','Chicago Bulls','New Jersey Nets','Philadelphia 76ers','Atlanta Hawks','Charlotte Hornets','Charlotte Bobcats','Milwaukee Bucks','Indiana Pacers','New York Knicks','Miami Heat']
for year_number in range(2010,2024):
  file_path = f'/content/drive/MyDrive/new_team_conference./{year_number}_team_conference.csv'
  df = pd.read_csv(file_path)
  column_season = 'season'
  column_won_rate = 'win_rate'
  win_rate = df['W']/(df['W']+df['L'])
  df[column_season] = f'{year_number}'
  df[column_won_rate] = win_rate
  df['Conference'] = 'None'
  for n in range(len(df)):
    if df['Unnamed: 0'][n] in eastern_conference_team:
      df.at[n,'Conference'] = 'Eastern'
    else:
      df.at[n,'Conference'] = 'Western'

  df_list.append(df)

merged_df = pd.concat(df_list, axis=0, ignore_index=True)

merged_df = merged_df.rename(columns={'Unnamed: 0':'Team'})

merged_df = merged_df[['season','Team','Conference','W','L','win_rate']]
merged_df = merged_df.sort_values(by=['season','Conference','win_rate'], ascending=False)
merged_df = merged_df.reset_index(drop=True)

merged_df['conference_standing'] = merged_df.groupby(['season','Conference']).cumcount()+1

display(merged_df)
merged_df.to_csv('/content/drive/MyDrive/DS105L group project/team_conference/merged_team_conference.csv', index = False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,season,Team,Conference,W,L,win_rate,conference_standing
0,2023,Denver Nuggets,Western,53.0,29.0,0.646341,1
1,2023,Memphis Grizzlies,Western,51.0,31.0,0.621951,2
2,2023,Sacramento Kings,Western,48.0,34.0,0.585366,3
3,2023,Phoenix Suns,Western,45.0,37.0,0.548780,4
4,2023,Los Angeles Clippers,Western,44.0,38.0,0.536585,5
...,...,...,...,...,...,...,...
417,2010,New York Knicks,Eastern,29.0,53.0,0.353659,11
418,2010,Philadelphia 76ers,Eastern,27.0,55.0,0.329268,12
419,2010,Detroit Pistons,Eastern,27.0,55.0,0.329268,13
420,2010,Washington Wizards,Eastern,26.0,56.0,0.317073,14
421,2010,New Jersey Nets,Eastern,12.0,70.0,0.146341,15