In [11]:
import pandas as pd

# Import data

In [12]:
df_teams = pd.read_csv("../Data/merged_team_conference.csv")
df_teams.drop("Unnamed: 0", axis=1, inplace=True)
df_teams

,season,Team,Conference,W,L,win_rate,conference_standing
0,2023,Denver Nuggets,Western,48.0,24.0,0.666667,1
1,2023,Memphis Grizzlies,Western,43.0,27.0,0.614286,2
2,2023,Sacramento Kings,Western,43.0,27.0,0.614286,3
3,2023,Phoenix Suns,Western,38.0,33.0,0.535211,4
4,2023,Los Angeles Clippers,Western,38.0,34.0,0.527778,5
...,...,...,...,...,...,...,...
415,2010,New York Knicks,Eastern,29.0,53.0,0.353659,11
416,2010,Philadelphia 76ers,Eastern,27.0,55.0,0.329268,12
417,2010,Detroit Pistons,Eastern,27.0,55.0,0.329268,13
418,2010,Washington Wizards,Eastern,26.0,56.0,0.317073,14
419,2010,New Jersey Nets,Eastern,12.0,70.0,0.146341,15

In [13]:
df_teams.dtypes

season                   int64
Team                    object
Conference              object
W                      float64
L                      float64
win_rate               float64
conference_standing      int64
dtype: object

In [17]:
df_teams["W"] = df_teams["W"].astype(int)
df_teams["L"] = df_teams["L"].astype(int)

In [18]:
df_teams

,season,Team,Conference,W,L,win_rate,conference_standing
0,2023,Denver Nuggets,Western,48,24,0.666667,1
1,2023,Memphis Grizzlies,Western,43,27,0.614286,2
2,2023,Sacramento Kings,Western,43,27,0.614286,3
3,2023,Phoenix Suns,Western,38,33,0.535211,4
4,2023,Los Angeles Clippers,Western,38,34,0.527778,5
...,...,...,...,...,...,...,...
415,2010,New York Knicks,Eastern,29,53,0.353659,11
416,2010,Philadelphia 76ers,Eastern,27,55,0.329268,12
417,2010,Detroit Pistons,Eastern,27,55,0.329268,13
418,2010,Washington Wizards,Eastern,26,56,0.317073,14
419,2010,New Jersey Nets,Eastern,12,70,0.146341,15

In [19]:
df_teams.dtypes

season                   int64
Team                    object
Conference              object
W                        int64
L                        int64
win_rate               float64
conference_standing      int64
dtype: object

In [20]:
df_teams["Team"] = df_teams["Team"].apply(lambda x: x.upper()) 
df_teams

,season,Team,Conference,W,L,win_rate,conference_standing
0,2023,DENVER NUGGETS,Western,48,24,0.666667,1
1,2023,MEMPHIS GRIZZLIES,Western,43,27,0.614286,2
2,2023,SACRAMENTO KINGS,Western,43,27,0.614286,3
3,2023,PHOENIX SUNS,Western,38,33,0.535211,4
4,2023,LOS ANGELES CLIPPERS,Western,38,34,0.527778,5
...,...,...,...,...,...,...,...
415,2010,NEW YORK KNICKS,Eastern,29,53,0.353659,11
416,2010,PHILADELPHIA 76ERS,Eastern,27,55,0.329268,12
417,2010,DETROIT PISTONS,Eastern,27,55,0.329268,13
418,2010,WASHINGTON WIZARDS,Eastern,26,56,0.317073,14
419,2010,NEW JERSEY NETS,Eastern,12,70,0.146341,15

In [21]:
#df_teams.to_csv("../Data/merged_team_conference.csv")